{erl_opts, [debug_info]}.
{deps, [

        {hackney, {github, "benoitc/hackney", {tag, "1.14.3"}}}
]}.


{plugins, [
    {rebar_tidy_deps, ".*", {git, "https://github.com/kellymclaughlin/rebar3-tidy-deps-plugin.git", {tag, "0.0.2"}}}
]}.


{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [dummy_app]}
]}.
